Library
Temp
Build
Obj
*.pidb
*.unityproj
*.sln
*.userprefs
*.swp
*.csproj
*.vs
Assets/RPG_FPS_game_assets_industrial/
Assets/Demigiant/DOTween/
Assets/Plugins/UniRx/
Assets/Plugins/
Assets/AssetStore/
